.countDownButton {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: var(--blue);
  color: var(--white);
  transition: background-color 0.2s;
}

.countDownButton img {
  margin-left: 10px;
}

.countDownButton:not(:disabled):hover {
  background: var(--blue-dark);
}

.countDownButtonActive {
  background: var(--white);
  color: var(--title)
}

.countDownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--white)
}

.countDownButton:disabled {
  background: var(--white);
  color: var(--text);
  cursor: not-allowed;
  border-bottom: 4px solid #4CD62B;
}


