.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

.content {
  display: flex;
}

@media (max-width: 665px) {
  .container section {
   display: flex;
   flex-direction: column;
  }

  .container {
    margin-left: 9.0rem;
  }
}

@media (min-width: 667px) and (max-width: 1200px) {
  .container {
    margin-left: 9.0rem;
  }
}
