* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --background: #F2F3F5;
  --text: #666;
  --white: #FFF;
  --gray-line: #DCDDE0;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --red: #E83F5B;
  --green: #4Cd62B;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--gray-line);
}

body, input, button, textarea {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.experience-bar {
  display: flex;
  align-items: center;
}

.experience-bar span {
  font-size: 1rem;
  color: var(--text);
}

.experience-bar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experience-bar > div > div{
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

span.current-experience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
